@using Knockular.HtmlHelpers
<script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.1.0.js"></script>

@Html.Partial("_BasicControl")

<hr />
<h3>Href</h3>

<a data-bind="attr: { href: 'http://google.co.uk/' + value() }">Link</a>

<script>
    var viewModel = {
        visible: ko.observable(true),
        toggleHide : function() {
            this.visible(!this.visible());
            this.items.push("new");
        },
        numberOfClicks: ko.observable(0),
        incrementClickCounter: function () {
            var previousCount = this.numberOfClicks();
            this.numberOfClicks(previousCount + 1);
            this.value(this.value() + "-");
        },
        value: ko.observable("Value1"),
        items: ko.observableArray(["One", "Two", "Three"])
    };

    ko.applyBindings(viewModel);
</script>