@using Knockular.HtmlHelpers
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.js"></script>
<script>
    angular.module("app", []);

    angular.module("app").controller("testCtrl", function ($scope) {
        $scope.value = "Value1";

        $scope.numberOfClicks = 0;
        $scope.incrementClickCounter = function() {
            $scope.numberOfClicks++;
            $scope.value = $scope.value + "-";
        };

        $scope.visible = true;
        $scope.toggleHide = function() {
            $scope.visible = !$scope.visible;
            $scope.items.push("new");
        };

        $scope.items = ["One", "Two", "Three"];

        $scope.date = "2014-10-03T11:15:00";

    });
</script>




<div ng-app="app" ng-controller="testCtrl">
    @Html.Partial("_BasicControl")


    <hr />
    <h3>Href</h3>

    <a ng-href="http://google.co.uk/{{value}}">Link</a>
</div>

